.heading {
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 2.04px;
    padding-block: 1rem;
}

.white {
    color: #FFFFFF;
}

.yellow {
    color: var(--primary-yellow);
}

@media (min-width: 40em) {
    .heading {
        font-size: 2em;
    }
}