@import url("https://use.typekit.net/jvc8nhk.css");


* {
  box-sizing: border-box;
  --primary-font: museo-sans-rounded, sans-serif;
  --primary-blue: #101827;
  --accent-blue: #162236;
  --navy: #223352;
  --primary-yellow: #E9C33D;
  color: #FFFFFF;
  --border-radius-sm: 8px;
  --border-radius-lg: 12px;
}

html,
body {
  background-color: var(--primary-blue);
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 500;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

button {
  cursor: pointer;
  color: var(--primary-blue)
}

button:disabled {
  cursor: not-allowed;
}

input {
  border: none;
  color: var(--primary-blue);
  font-family: var(--primary-font);
}

.item_container {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
